body {
    font-family: Arial, sans-serif;
}

.sidebar {
    background-color: #f8f9fa;
    height: 100vh;
}

.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #e9ecef;
}

.active {
    background-color: #e9ecef;
}

.content {
    padding: 20px;
}

#map {
    height: 300px;
    width: 100%;
}